
  .main { 
    display: flex;
    width: 100%;
  }

  .div-main-top {
    padding-top: 1%;
    margin-left: 1%;
    display: flex;
    width: 100%;
  }

  .div-main-top-carroucel {
    display: block;
    float: left;
    width: 700px;
    min-width: 700px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

  .item active {
    cursor: pointer;
  }

  .carousel-caption h4{
    color: rgb(255, 255, 255);
  }

  .carousel-caption h5{
    color: rgb(255, 255, 255);
  }

  .item {
    cursor: pointer;
  }

  .div-main-left {
    display: block;
    float: left;
    margin-left: 1%;
    width: 700px;
    height: 100%;
    min-width: 700px;
    text-align: center;
  }

  .div-main-right {
    display: block;
    width: 260px;
    text-align: center;
    margin-left: 1%;
    border-left-style: solid;
    border-width: 2px;
    border-color: #7796c7;
  }

  .strong-upcoming-m {
    display: none;
  }

  .div-main-upcoming {
    width: 260px;
    margin-left: 1%;
    padding-left: 0.5%;
    border-left-style: solid;
    border-width: 2px;
    border-color: #7796c7;
  }

  .div-main-upcoming strong {
    margin-left: 15%; 
    text-align: center;
  }

  .div-main-upcoming img { 
    width: 80%;
    height: auto;
  }

  div-main-right p {
    color: black;
  }
  
  .discord {
    width: auto;
  }

  #myCarousel {
   height: 300px;
  }

  #myCarousel img {
    height: 290px;
  }

  .p-displaynone {
    display: none;
  }

  .div-main-left li {
    margin-top: 1%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    border-color: #c9daf7;
    cursor: pointer;
  }

  .div-main-left img {
    display: flex;
    float: left;
    width: 200px;
    height: 200px;
  }

  #h5-updates {
    padding-bottom: 10%;
    font-style: oblique;
  }

  #updates-ul {
    width: 250px;
    border-style: none;
  }

  #list-updates {
    width: 250px;
    list-style-type: none;
    border-top-style: solid;
    border-color: #7796c7;
    border-width: 1px;
  }

  #list-updates :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #4e8aeb;
    cursor: pointer;
  }

  .div-ranking {
    cursor: pointer;
  }

  .div-ranking :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  .top-week-li {
    list-style-type: none;
    border-style: none;
  }

  .pagination-li {
    display: flex;

  }

  .div-ul {
    position: absolute;
    margin-top: -1%;
    width: 285px;
    margin-left:49%;
    color: rgb(150, 150, 250);
    background-color: rgb(245, 243, 243);
    text-align: justify;
    word-wrap: break-word;
    opacity: 95%;
  }

  .div-ul li {
    border-bottom-style: solid;
    border-width: 1px;
  }

  .div-ul img {
    max-width: 30px;
    max-height: 30px;
  }

  .div-ul a {
    color: black;
  }

  .div-ul a:hover {
    color: rgb(56, 11, 97);
  }
  /*anuncios estatios do site*/

  .barner {
    min-width: 1000px;
    margin-left: 1%;
    opacity: 100%;
    padding-bottom: 0.5%; 
    background-color: blueviolet;
     /*background-image: url("img/imPzBXR3_o.png");*/
  }

  .barner h3 {
    color: #ffffff; 
    font-family: 'Droid serif', serif;
    font-size: 36px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 30px; 
    margin: 0 0 12px; 
    text-align: center;
  }


  .barner h4 { 
    color: #ffffff; 
    font-family: 'Droid serif', 
    serif; font-size: 20px; 
    font-weight: 400; 
    font-style: italic; 
    line-height: 14px; 
    margin: 0 0 12px; 
    text-align: center;
    margin-top: 1.5%;
  }


  @media (max-width: 768px) {

    .main {
      width: 100%;
    }

    .strong-upcoming-m {
      display: block;
    }  

    .strong-upcoming-m strong {
      margin-left: 30%;
    }  

    .div-main-upcoming-m {
      width: 100%;
      display: flex;
      margin-left: 0.5%;
      margin-bottom: 2%;
      border-left-style: solid;
      border-width: 2px;
      border-color: #7796c7;
    }

    .div-main-upcoming {
      display: none;
    }

    .div-ul {
      position: absolute;
      margin-top: -1%;
      margin-left: 143%;
      width: 300px;
      color: rgb(150, 150, 250);
      background-color: rgb(245, 243, 243);
      text-align: justify;
      word-wrap: break-word;
    }
  
    .div-ul li {
      border-bottom-style: solid;
      border-width: 1px;
    }
  }